@import "bootstrap.css";

@font-face {
    font-family: 'NetflixSans';
    src: url(../font/NetflixSans-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'NetflixSans', sans-serif;
}
.poster-card{
    transition: transform 0.3s ease;
}
.poster-card:hover{
    transform: scale(1.1);
}